/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
/* line 91, ../../sass/_custom.scss */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
/* line 103, ../../sass/_custom.scss */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
/* line 114, ../../sass/_custom.scss */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
}

/* line 40, ../../sass/layouts/responsive-sidebars.scss */
#grid-overlay {
  position: absolute;
  position: fixed;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: sans-serif;
  background-color: white;
  max-width: 1200px;
}
/* line 52, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#grid-overlay:before, #grid-overlay:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#grid-overlay:after {
  clear: both;
}
/* line 47, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay span {
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 0;
  text-align: center;
  color: white;
  text-shadow: #5f0000 0 0 4px;
}
/* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-1 {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  display: block;
  height: 100%;
  margin-bottom: -24px;
  background-color: #ffdede;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
/* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcolrev-1 {
  clear: left;
  float: right;
  width: 25%;
  margin-right: 0%;
  margin-left: -25%;
  display: block;
}
/* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-2 {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -50%;
  display: block;
  height: 100%;
  margin-bottom: -24px;
  background-color: #ffdede;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
/* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcolrev-2 {
  float: right;
  width: 25%;
  margin-right: 25%;
  margin-left: -50%;
  display: block;
}
/* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-3 {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -75%;
  display: block;
  height: 100%;
  margin-bottom: -24px;
  background-color: #ffdede;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
/* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcolrev-3 {
  float: right;
  width: 25%;
  margin-right: 50%;
  margin-left: -75%;
  display: block;
}
/* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-4 {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  display: block;
  height: 100%;
  margin-bottom: -24px;
  background-color: #ffdede;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
/* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcolrev-4 {
  float: right;
  width: 25%;
  margin-right: 75%;
  margin-left: -100%;
  display: block;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-5,
#grid-overlay .bgcolrev-5 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-6,
#grid-overlay .bgcolrev-6 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-7,
#grid-overlay .bgcolrev-7 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-8,
#grid-overlay .bgcolrev-8 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-9,
#grid-overlay .bgcolrev-9 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-10,
#grid-overlay .bgcolrev-10 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-11,
#grid-overlay .bgcolrev-11 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-12,
#grid-overlay .bgcolrev-12 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-13,
#grid-overlay .bgcolrev-13 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-14,
#grid-overlay .bgcolrev-14 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-15,
#grid-overlay .bgcolrev-15 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-16,
#grid-overlay .bgcolrev-16 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-17,
#grid-overlay .bgcolrev-17 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-18,
#grid-overlay .bgcolrev-18 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-19,
#grid-overlay .bgcolrev-19 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-20,
#grid-overlay .bgcolrev-20 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-21,
#grid-overlay .bgcolrev-21 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-22,
#grid-overlay .bgcolrev-22 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-23,
#grid-overlay .bgcolrev-23 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-24,
#grid-overlay .bgcolrev-24 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-25,
#grid-overlay .bgcolrev-25 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-26,
#grid-overlay .bgcolrev-26 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-27,
#grid-overlay .bgcolrev-27 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-28,
#grid-overlay .bgcolrev-28 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-29,
#grid-overlay .bgcolrev-29 {
  display: none;
}
/* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
#grid-overlay .bgcol-30,
#grid-overlay .bgcolrev-30 {
  display: none;
}

/*
 * Center the page.
 */
/* line 50, ../../sass/layouts/responsive-sidebars.scss */
#page {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
       by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 68, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#header .inner:before, #header .inner:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#header .inner:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Media queries and breakpoints
 */
@media all and (min-width: 480px) and (max-width: 768px) {
  /*
   * Use 8 grid columns for larger screens.
   */
  /* line 101, ../../sass/layouts/responsive-sidebars.scss */
  #grid-overlay {
    position: absolute;
    position: fixed;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: white;
  }
  /* line 52, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
  #grid-overlay:before, #grid-overlay:after {
    content: "";
    display: table;
  }
  /* line 56, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
  #grid-overlay:after {
    clear: both;
  }
  /* line 47, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay span {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0;
    text-align: center;
    color: white;
    text-shadow: #5f0000 0 0 4px;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-1 {
    float: left;
    width: 12.5%;
    margin-left: 0%;
    margin-right: -12.5%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-1 {
    clear: left;
    float: right;
    width: 12.5%;
    margin-right: 0%;
    margin-left: -12.5%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-2 {
    float: left;
    width: 12.5%;
    margin-left: 12.5%;
    margin-right: -25%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-2 {
    float: right;
    width: 12.5%;
    margin-right: 12.5%;
    margin-left: -25%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-3 {
    float: left;
    width: 12.5%;
    margin-left: 25%;
    margin-right: -37.5%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-3 {
    float: right;
    width: 12.5%;
    margin-right: 25%;
    margin-left: -37.5%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-4 {
    float: left;
    width: 12.5%;
    margin-left: 37.5%;
    margin-right: -50%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-4 {
    float: right;
    width: 12.5%;
    margin-right: 37.5%;
    margin-left: -50%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-5 {
    float: left;
    width: 12.5%;
    margin-left: 50%;
    margin-right: -62.5%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-5 {
    float: right;
    width: 12.5%;
    margin-right: 50%;
    margin-left: -62.5%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-6 {
    float: left;
    width: 12.5%;
    margin-left: 62.5%;
    margin-right: -75%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-6 {
    float: right;
    width: 12.5%;
    margin-right: 62.5%;
    margin-left: -75%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-7 {
    float: left;
    width: 12.5%;
    margin-left: 75%;
    margin-right: -87.5%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-7 {
    float: right;
    width: 12.5%;
    margin-right: 75%;
    margin-left: -87.5%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-8 {
    float: left;
    width: 12.5%;
    margin-left: 87.5%;
    margin-right: -100%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-8 {
    float: right;
    width: 12.5%;
    margin-right: 87.5%;
    margin-left: -100%;
    display: block;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-9,
  #grid-overlay .bgcolrev-9 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-10,
  #grid-overlay .bgcolrev-10 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-11,
  #grid-overlay .bgcolrev-11 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-12,
  #grid-overlay .bgcolrev-12 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-13,
  #grid-overlay .bgcolrev-13 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-14,
  #grid-overlay .bgcolrev-14 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-15,
  #grid-overlay .bgcolrev-15 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-16,
  #grid-overlay .bgcolrev-16 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-17,
  #grid-overlay .bgcolrev-17 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-18,
  #grid-overlay .bgcolrev-18 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-19,
  #grid-overlay .bgcolrev-19 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-20,
  #grid-overlay .bgcolrev-20 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-21,
  #grid-overlay .bgcolrev-21 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-22,
  #grid-overlay .bgcolrev-22 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-23,
  #grid-overlay .bgcolrev-23 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-24,
  #grid-overlay .bgcolrev-24 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-25,
  #grid-overlay .bgcolrev-25 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-26,
  #grid-overlay .bgcolrev-26 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-27,
  #grid-overlay .bgcolrev-27 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-28,
  #grid-overlay .bgcolrev-28 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-29,
  #grid-overlay .bgcolrev-29 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-30,
  #grid-overlay .bgcolrev-30 {
    display: none;
  }

 /*
* The layout when there is only one sidebar, the left one.
*/
  /* line 109, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 4 columns, starting in 4th column from left. */
    float: left;
    width: 62.5%;
    margin-left: 37.5%;
    margin-right: -100%;
  }
  /* line 113, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 3 column, starting in 1st column from left. */
    float: left;
    width: 37.5%;
    margin-left: 0%;
    margin-right: -37.5%;
  }

  /*
  * The layout when there is only one sidebar, the right one.
  */
  /* line 122, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 5 columns, starting in 1st column from left. */
    float: left;
    width: 62.5%;
    margin-left: 0%;
    margin-right: -62.5%;
  }
  /* line 126, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 3 column, starting in 6th column from left. */
    float: left;
    width: 37.5%;
    margin-left: 62.5%;
    margin-right: -100%;
  }

  /*
  * The layout when there are two sidebars.
  */
  /* line 135, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 5 columns, starting in 4th column from left. */
    float: left;
    width: 62.5%;
    margin-left: 37.5%;
    margin-right: -100%;
  }
  /* line 139, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 3 column, starting in 1st column from left. */
    float: left;
    width: 37.5%;
    margin-left: 0%;
    margin-right: -37.5%;
  }
  /* line 143, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Span 8 column, starting in 1st column from left under the others. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }
}
@media all and (min-width: 768px) {
  /*
   * Use 12 grid columns for larger screens.
   */
  /* line 161, ../../sass/layouts/responsive-sidebars.scss */
  #grid-overlay {
    position: absolute;
    position: fixed;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: white;
  }
  /* line 52, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
  #grid-overlay:before, #grid-overlay:after {
    content: "";
    display: table;
  }
  /* line 56, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
  #grid-overlay:after {
    clear: both;
  }
  /* line 47, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay span {
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0;
    text-align: center;
    color: white;
    text-shadow: #5f0000 0 0 4px;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-1 {
    float: left;
    width: 8.33333%;
    margin-left: 0%;
    margin-right: -8.33333%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-1 {
    clear: left;
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -8.33333%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-2 {
    float: left;
    width: 8.33333%;
    margin-left: 8.33333%;
    margin-right: -16.66667%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-2 {
    float: right;
    width: 8.33333%;
    margin-right: 8.33333%;
    margin-left: -16.66667%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-3 {
    float: left;
    width: 8.33333%;
    margin-left: 16.66667%;
    margin-right: -25%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-3 {
    float: right;
    width: 8.33333%;
    margin-right: 16.66667%;
    margin-left: -25%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-4 {
    float: left;
    width: 8.33333%;
    margin-left: 25%;
    margin-right: -33.33333%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-4 {
    float: right;
    width: 8.33333%;
    margin-right: 25%;
    margin-left: -33.33333%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-5 {
    float: left;
    width: 8.33333%;
    margin-left: 33.33333%;
    margin-right: -41.66667%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-5 {
    float: right;
    width: 8.33333%;
    margin-right: 33.33333%;
    margin-left: -41.66667%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-6 {
    float: left;
    width: 8.33333%;
    margin-left: 41.66667%;
    margin-right: -50%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-6 {
    float: right;
    width: 8.33333%;
    margin-right: 41.66667%;
    margin-left: -50%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-7 {
    float: left;
    width: 8.33333%;
    margin-left: 50%;
    margin-right: -58.33333%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-7 {
    float: right;
    width: 8.33333%;
    margin-right: 50%;
    margin-left: -58.33333%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-8 {
    float: left;
    width: 8.33333%;
    margin-left: 58.33333%;
    margin-right: -66.66667%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-8 {
    float: right;
    width: 8.33333%;
    margin-right: 58.33333%;
    margin-left: -66.66667%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-9 {
    float: left;
    width: 8.33333%;
    margin-left: 66.66667%;
    margin-right: -75%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-9 {
    float: right;
    width: 8.33333%;
    margin-right: 66.66667%;
    margin-left: -75%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-10 {
    float: left;
    width: 8.33333%;
    margin-left: 75%;
    margin-right: -83.33333%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-10 {
    float: right;
    width: 8.33333%;
    margin-right: 75%;
    margin-left: -83.33333%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-11 {
    float: left;
    width: 8.33333%;
    margin-left: 83.33333%;
    margin-right: -91.66667%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-11 {
    float: right;
    width: 8.33333%;
    margin-right: 83.33333%;
    margin-left: -91.66667%;
    display: block;
  }
  /* line 55, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-12 {
    float: left;
    width: 8.33333%;
    margin-left: 91.66667%;
    margin-right: -100%;
    display: block;
    height: 100%;
    margin-bottom: -24px;
    background-color: #ffdede;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }
  /* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcolrev-12 {
    float: right;
    width: 8.33333%;
    margin-right: 91.66667%;
    margin-left: -100%;
    display: block;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-13,
  #grid-overlay .bgcolrev-13 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-14,
  #grid-overlay .bgcolrev-14 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-15,
  #grid-overlay .bgcolrev-15 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-16,
  #grid-overlay .bgcolrev-16 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-17,
  #grid-overlay .bgcolrev-17 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-18,
  #grid-overlay .bgcolrev-18 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-19,
  #grid-overlay .bgcolrev-19 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-20,
  #grid-overlay .bgcolrev-20 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-21,
  #grid-overlay .bgcolrev-21 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-22,
  #grid-overlay .bgcolrev-22 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-23,
  #grid-overlay .bgcolrev-23 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-24,
  #grid-overlay .bgcolrev-24 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-25,
  #grid-overlay .bgcolrev-25 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-26,
  #grid-overlay .bgcolrev-26 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-27,
  #grid-overlay .bgcolrev-27 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-28,
  #grid-overlay .bgcolrev-28 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-29,
  #grid-overlay .bgcolrev-29 {
    display: none;
  }
  /* line 76, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_background-grid.scss */
  #grid-overlay .bgcol-30,
  #grid-overlay .bgcolrev-30 {
    display: none;
  }

 /*
* The layout when there is only one sidebar, the left one.
*/
  /* line 169, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 9 columns, starting in 4th column from left. */
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
  }
  /* line 173, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 3 column, starting in 1st column from left. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }

  /*
  * The layout when there is only one sidebar, the right one.
  */
  /* line 182, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 9 columns, starting in 1st column from left. */
    float: left;
    width: 75%;
    margin-left: 0%;
    margin-right: -75%;
  }
  /* line 186, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 10th column from left. */
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
  }

  /*
  * The layout when there are two sidebars.
  */
  /* line 195, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 6 columns, starting in 4th column from left. */
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -75%;
  }
  /* line 199, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 3 column, starting in 1st column from left. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }
  /* line 203, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Span 3 column, starting in 10th column from left. */
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
  }
}
