/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
/* line 91, ../../sass/_custom.scss */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
/* line 103, ../../sass/_custom.scss */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
/* line 114, ../../sass/_custom.scss */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
}

/*
 * Center the page.
 */
/* line 43, ../../sass/layouts/responsive-sidebars.scss */
#page {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
       by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 61, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#header .inner:before, #header .inner:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../../../Library/Ruby/Gems/1.8/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
#header .inner:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Media queries and breakpoints
 */
@media all and (min-width: 480px) and (max-width: 768px) {
  /*
   * Use 8 grid columns for larger screens.
   */
 /*
* The layout when there is only one sidebar, the left one.
*/
  /* line 97, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 4 columns, starting in 4th column from left. */
    float: left;
    width: 62.5%;
    margin-left: 37.5%;
    margin-right: -100%;
  }
  /* line 101, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 3 column, starting in 1st column from left. */
    float: left;
    width: 37.5%;
    margin-left: 0%;
    margin-right: -37.5%;
  }

  /*
  * The layout when there is only one sidebar, the right one.
  */
  /* line 110, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 5 columns, starting in 1st column from left. */
    float: left;
    width: 62.5%;
    margin-left: 0%;
    margin-right: -62.5%;
  }
  /* line 114, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 3 column, starting in 6th column from left. */
    float: left;
    width: 37.5%;
    margin-left: 62.5%;
    margin-right: -100%;
  }

  /*
  * The layout when there are two sidebars.
  */
  /* line 123, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 5 columns, starting in 4th column from left. */
    float: left;
    width: 62.5%;
    margin-left: 37.5%;
    margin-right: -100%;
  }
  /* line 127, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 3 column, starting in 1st column from left. */
    float: left;
    width: 37.5%;
    margin-left: 0%;
    margin-right: -37.5%;
  }
  /* line 131, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Span 8 column, starting in 1st column from left under the others. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }
}
@media all and (min-width: 768px) {
  /*
   * Use 12 grid columns for larger screens.
   */
 /*
* The layout when there is only one sidebar, the left one.
*/
  /* line 151, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 9 columns, starting in 4th column from left. */
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
  }
  /* line 155, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 3 column, starting in 1st column from left. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }

  /*
  * The layout when there is only one sidebar, the right one.
  */
  /* line 164, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 9 columns, starting in 1st column from left. */
    float: left;
    width: 75%;
    margin-left: 0%;
    margin-right: -75%;
  }
  /* line 168, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 10th column from left. */
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
  }

  /*
  * The layout when there are two sidebars.
  */
  /* line 177, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 6 columns, starting in 4th column from left. */
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -75%;
  }
  /* line 181, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 3 column, starting in 1st column from left. */
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }
  /* line 185, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Span 3 column, starting in 10th column from left. */
    float: left;
    width: 25%;
    margin-left: 75%;
    margin-right: -100%;
  }
}
