/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";


// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count: 4;
$zen-gutter-width: 15px;


// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
//   $box-sizing-polyfill-path: "/path/to/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: true;


// Grid overlay
#grid-overlay {
  @include -experimental-bg-grid();
  max-width: 1200px;
}


/*
 * Center the page.
 */

#page {
/* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */

// See the note about $zen-auto-include-item-base above.
#header,
#content,
#main-menu,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  @include zen-grid-item-base();
}

/*
 * Containers for grid items and flow items.
 */
#header .inner,
#main,
#footer {
  @include zen-grid-container();
}


/*
 * Media queries and breakpoints
 */

// 480 -
@include breakpoint(break-small) {

}


// 480 - 768
@include breakpoint(break-medium) {

  /*
   * Use 8 grid columns for larger screens.
   */
  $zen-column-count: 8;

  // Grid overlay
  #grid-overlay {
    @include -experimental-bg-grid();
  }

  /*
 * The layout when there is only one sidebar, the left one.
 */
  .sidebar-first {
    #content { /* Span 4 columns, starting in 4th column from left. */
      @include zen-grid-item(5, 4);
    }

    .region-sidebar-first { /* Span 3 column, starting in 1st column from left. */
      @include zen-grid-item(3, 1);
    }

    .region-sidebar-second { /* Span 3 column, starting in 1st column from left. */
      display: none;
    }
  }

  /*
  * The layout when there is only one sidebar, the right one.
  */
  .sidebar-second {
    #content { /* Span 5 columns, starting in 1st column from left. */
      @include zen-grid-item(5, 1);
    }

    .region-sidebar-second { /* Span 3 column, starting in 6th column from left. */
      @include zen-grid-item(3, 6);
    }

    .region-sidebar-first { /* Span 8 column, starting in 1st column from left under the others. */
      display: none;
    }
  }

  /*
  * The layout when there are two sidebars.
  */
  .two-sidebars {
    #content { /* Span 5 columns, starting in 4th column from left. */
      @include zen-grid-item(5, 4);
    }

    .region-sidebar-first { /* Span 3 column, starting in 1st column from left. */
      @include zen-grid-item(3, 1);
    }

    .region-sidebar-second { /* Span 8 column, starting in 1st column from left under the others. */
      @include zen-grid-item(8, 1);
      @include zen-clear(left); // Clear left-floated elements
    }
  }

}


// 768 +
@include breakpoint(break-large) {

  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;

  // Grid overlay
  #grid-overlay {
    @include -experimental-bg-grid();
  }

    /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #content { /* Span 9 columns, starting in 4th column from left. */
      @include zen-grid-item(9, 4);
    }

    .region-sidebar-first { /* Span 3 column, starting in 1st column from left. */
      @include zen-grid-item(3, 1);
    }

    .region-sidebar-second {
      display: none;
    }

  }

   /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    #content { /* Span 9 columns, starting in 1st column from left. */
      @include zen-grid-item(9, 1);
    }

    .region-sidebar-second { /* Span 1 column, starting in 10th column from left. */
      @include zen-grid-item(3, 10);
    }

    .region-sidebar-first {
      display: none;
    }
  }

   /*
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    #content { /* Span 6 columns, starting in 4th column from left. */
      @include zen-grid-item(8, 3);
    }

    .region-sidebar-first { /* Span 3 column, starting in 1st column from left. */
      @include zen-grid-item(2, 1);
    }

    .region-sidebar-second { /* Span 3 column, starting in 10th column from left. */
      @include zen-grid-item(2, 11);
    }
  }
}
